.nav-item {
    font-weight: bold;
}

.navtext {
    font-size: x-large;
}

.rounded-quarter-circle {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 0 0 50% 0;
    background-color: lightblue; /* Adjust the background color */
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    margin-top: 3px; /* Adjust the margin as needed */
    transform: rotate(90deg); /* Rotate the button */
}
#carouselExampleIndicators {
    max-height: 500px;
    border-radius: 40px; 
    overflow: hidden; 
  }
 
  .carousel-control-prev, .carousel-control-next {
color: black;
  }

  #video-container {
    border-radius: 30px;
    overflow: hidden;
  }
  #video-container video {
    width: 100%;
    height: auto;
  }
  .container {
    border: 1px solid #ccc; 
    border-radius: 10px;    
    padding: 20px;          
  }

  #text-container {
    border: 1px solid #ccc; 
    border-radius: 10px;    
    padding: 10px;      
  }

 